---
import 'uno.css?direct'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="text-blue-900 ml-10">Astro</h1>
	</body>
</html>

<style>
body {
	background-color: rgb(44, 51, 57)
}
</style>
